.container {
  background-color: #ffffff;
  color: #333333;

  .content {
    text-align: center;

    .helloworld {
      box-shadow: 10px 1px 1px #333333 10px 1px 1px #333333;
      font-size: 25px;
    }
  }
}
