.container {
  width: 100%;
  flex: 1;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #F5FCFF;
}

.content {
  flex: 1;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #F5FCFF;
}

.helloworld {
  background-color: #555C5F;
  color: #ffffff;
}
