{
  "plugins": [
    ["babel-plugin-react-native-sass-classname", {
      "extensions": ["sass"],
      "prefixExtension": "native"
    }]
  ],
  "presets": [
    "react-native"
  ],
  "env": {
    "PLATFORM_ENV": "react-native"
  }
}